*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #070707;
    color: white;
    /* font-family: Arial, sans-serif; */
}
.container{
    height: 100vh;
    color: rgb(255, 255, 255);;
    width:900px;
    margin: 40px;
    padding: 40px;
    font-size: 25px;
}

#result div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
  }

#result div span {
    margin-right: 93px;
}

#btn {
    padding: 10px 20px;
    background-color: #2be031;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
}

#dropdown {
    background-color: #070707;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: 0.5px solid #ccc;
    border-radius: 7px;
  }